<h2>Eventos</h2>
<hr />
<div class="form-inline">
  <div class="form-group mb-2">
    <!-- abaixo é um two-way data binding [(ngModel)], q é responsável por manipular uma variável criada no tx de acordo com o q estou inputando e vice versa. (a tag q abraça o input deverá ser div aqui) -->
    <input
      type="text"
      class="form-control mr-2"
      placeholder="Buscar"
      [(ngModel)]="listFilter"
    />
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<h3>Filtro: {{ listFilter }}</h3>
<table class="table table-stripped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="alterImgState()">
          {{ viewImg ? "Ocultar" : "Exibir" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of eventsFiltered">
      <td>
        <img
          src="/assets/{{ event.imageURL }}"
          alt="image"
          [style.width.px]="150"
          [style.margin.px]="marginImg"
          [collapse]="!viewImg"
          [isAnimated]="true"
        />
      </td>
      <td>{{ event.eventId }}</td>
      <td>{{ event.theme }}</td>
      <td>{{ event.local }}</td>
      <td>{{ event.eventDate }}</td>
      <td>{{ event.amountPeople }}</td>
      <td>{{ event.lot }}</td>
      <td>{{ event.local }}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
