<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <!--Pra eu ver os inputs trabalhando d forma controlada-->
      <!-- <p>Form value: {{form.value | json}}</p>
      <p>Form valid: {{form.status | json}}</p> -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <!--ACIMA: o ngClass atribui uma classe na prop class do elemento html caso algo aconteça, e esse algo eu defino na frente (nesse caso acontece se eu começar a mexer no input ou se eu colocar algo errado perante as validações)-->
          <input
            [ngClass]="cssValidator(f.theme)"
            type="text"
            class="form-control"
            formControlName="theme"
            placeholder="Insira o Tema"
          />
          <!--Com o ngIf eu valido qual o momento ideal de lançar os respectivos erros de acordo com o problema passando de parametro pro hasError as propriedades dos validators de cada um definidos no ts-->
          <div class="invalid-feedback" *ngIf="f.theme.errors?.required">
            Tema é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.theme.errors?.minlength">
            Deve ter no mínimo 4 caracteres
          </div>
          <div class="invalid-feedback" *ngIf="f.theme.errors?.maxlength">
            Deve ter no máximo 50 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input
            [ngClass]="{ 'is-invalid': f.local.errors && f.local.touched }"
            type="text"
            class="form-control"
            formControlName="local"
            placeholder="local"
          />
          <div class="invalid-feedback" *ngIf="f.local.errors?.required">
            Local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input
            [ngClass]="{
              'is-invalid': f.eventDate.errors && f.eventDate.touched
            }"
            value="{{_event.eventDate | DateFormatPipe}}"
            type="datetime"
            class="form-control"
            formControlName="eventDate"
            placeholder=""
            bsDatepicker
            [bsConfig]="bsConfig"
          />

          <div class="invalid-feedback" *ngIf="f.eventDate.errors?.required">
            Data e Hora é obrigatório
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Qtd Pessoas</label>
          <input
            [ngClass]="{
              'is-invalid': f.amountPeople.errors && f.amountPeople.touched
            }"
            type="number"
            class="form-control"
            formControlName="amountPeople"
            placeholder=""
          />
          <div class="invalid-feedback" *ngIf="f.amountPeople.errors?.required">
            Qtd Pessoas é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.amountPeople.errors?.max">
            Número de pessoas deve ser abaixo de 120.000
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input
            [ngClass]="{ 'is-invalid': f.phone.errors && f.phone.touched }"
            type="text"
            class="form-control"
            formControlName="phone"
            placeholder="(00) 90000-0000"
          />

          <div class="invalid-feedback" *ngIf="f.phone.errors?.required">
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Email</label>
          <input
            [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="e-mail"
          />
          <div class="invalid-feedback" *ngIf="f.email.errors?.required">
            E-mail é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="f.email.errors?.email">
            Digite um e-mail válido
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input
            [ngClass]="{
              'is-invalid': f.imageUrl.errors && f.imageUrl.touched
            }"
            type="text"
            class="form-control"
            formControlName="imageUrl"
            placeholder="imagem"
          />
          <div class="invalid-feedback" *ngIf="f.imageUrl.errors?.required">
            Imagem é obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button
          class="btn btn-outline-secondary mr-auto border"
          (click)="resetForm()"
        >
          Cancelar Alteração
        </button>
        <!--to bloqueando o botão d salvar enquanto o formulario n está validado por completo-->
        <button class="btn btn-success" [disabled]="!form.valid" (click)="saveEvent()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>

<!-- BEGIN FORM LOTS -->
<!-- com a condião baseada em editMode, vou controlar quando mostrar os lotes na tela -->
<div class="card rounded shadow-sm mt-4" *ngIf="editMode">
    <div class="p-3">
      <div class="d-flex border-bottom">
        <h2 class="mr-auto">
          Lotes do Evento
        </h2>
        <h2>
          <i class="fas fa-money-bill-wave"></i>
        </h2>
      </div>
      <p>Clique em Lote para adicionar e preencher novos Lotes</p>
      <div class="form-row p-1">
        <div [formGroup]="form" class="col">
          <div formArrayName="lots" *ngFor="let lot of lots.controls; let i = index">
            <!-- o i abaixo é a maneira de identificar nossos grupos de formulários para serem validados individualmente -->
            <fieldset [formGroupName]="i" class="form-group">
              <legend class="d-flex justify-content-between capitalize">
                {{ returnLotTitle(lots.get(i + '.name')?.value) }}
                <button class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                  (click)="removeLot(template, i)"
                  tooltip="Excluir Lote"
                  [adaptivePosition]="false"
                  [delay]="500"
                  placement="left">
                <i class="fa fa-window-close my-1"></i>
                <b class="ml-1 d-none d-sm-block">Excluir</b>
              </button>
            </legend>
            <div class="row">
              <div class="form-group col-md-4">
                <label>Nome</label>
                <input [ngClass]="cssValidator(lots.get(i+'.name'))" type="text" class="form-control" formControlName="name" placeholder="Lote">
              </div>
              <div class="form-group col-md-4">
                <label>Quantidade</label>
                <input type="text" class="form-control" formControlName="amount" [ngClass]="cssValidator(lots.get(i+'.amount'))" placeholder="000">
              </div>
              <div class="form-group col-md-4">
                <label>Preço</label>
                <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" class="form-control" formControlName="price" [ngClass]="cssValidator(lots.get(i+'.price'))" placeholder="R$ 0,00">
              </div>
              <div class="form-group col-md-4">
                <label>Data Início</label>
                <!-- função changeDate para alterar a data no reactive form, após alterarmos no datepicker -->
                <input
                bsDatepicker
                formControlName="initialDate"
                type="text"
                class="form-control"
                placeholder="01/01/2019"
                >
              </div>
              <div class="form-group col-md-4">
                <label>Data Fim</label>
                <input
                bsDatepicker
                formControlName="finalDate"
                type="text"
                class="form-control"
                placeholder="01/01/2019"
                >
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <button (click)="addLot()" class="d-flex btn btn-outline-primary">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ml-1">Lote</b>
    </button>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-secondary mr-auto border">
        Cancelar Alteração
      </button>
      <button [disabled]="!form.controls.lots.valid" (click)="saveLots()" class="btn btn-success">
        Salvar Lotes
      </button>
    </div>
  </div>
</div>
<br>
<!-- END FORM LOTS -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o lote {{this.currentLot.name}}?</p>
    <button type="button" class="btn btn-default" (click)="confirmDeleteLot()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="declineDeleteLot()">
      Não
    </button>
  </div>
</ng-template>
